* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    /* Set text color for better visibility */
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-top: 385px;
}

.container {
    padding: 20px;
    margin: 10px auto 0;
    border-radius: 30px;
    max-width: 90%;
    /* Set max-width for responsiveness */
    position: fixed;
    top: calc(5% + -300px);
    /* Center the container vertically */
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
    position: relative;
}

.navbar ul li a {
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #00008B;
    display: block;
    padding: 5px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #2749FF;
    color: #ffffff;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #2749FF;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    transition: width 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar.scrolled {
    background-color: #0a7e8c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled ul {
    background-color: #0a7e8c;
}

.navbar.scrolled li {
    margin: 0 10px;
}

.navbar.scrolled a {
    color: #ffffff;
}

.navbar.scrolled p {
    color: #ffffff;
}

.navbar.scrolled ul li a:hover {
    background-color: #a0d6b4;
    color: #004242;
}

.navbar.scrolled ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #a0d6b4;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    transition: width 0.5s;
}

.navbar.scrolled ul li:hover::after {
    width: 100%;
}

.banner p {
    font-family: 'Alata', sans-serif;
    font-size: 18px;
    color: #00008B;
    position: absolute;
    top: 40px;
    left: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin-right: 30px;
    /* Adjusted margin */
    margin-left: 30px;
}

.logo-container h1 {
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    color: #00008B;
    margin-top: 10px;
    flex-grow: 1;
    /* Allows the <h1> to grow and take up remaining space */
}

.content h1 {
    font-family: 'Alata', sans-serif;
    font-size: 48px;
    margin-top: -350px;
    color: #00008B;
}

.program-container {
    max-width: 1200px;
    width: 100%;
    margin: -750px auto 0; /* Adjusted margin to control distance from the navbar */
    padding: 15px 25px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 21px;
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
}


.card {
    max-width: 1000px;
    width: 100%;
    position: relative;
    height: auto;
    margin: 20px auto; /* Set margin to 'auto' to center horizontally */
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-sizing: border-box; /* Include padding in width and height */
}

.card h1 {
    color: #3C38FB;
    font-family: 'Alata', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 15px 0;
    margin-bottom: 0px;
}

.card h2 {
    color: #000;
    font-family: 'Alata', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    text-align: center;
}

.card p,
.card p1 {
    color: #000;
    font-family: 'Alata', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    text-align: center;
    margin: 15px 0;
}

.program-container1 {
    display: flex;
    flex-direction: row;
    width: 95%;
    background-color: #EDEDED;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.program-container1 h1 {
    color: #000000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    margin: 2px 0;
    margin-top: 15px;
    margin-left: 15px;
    letter-spacing: 1px;
    text-align: left;
}

.program-container1 h2 {
    color: #000000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
    line-height: normal;
    margin: 2px 0;
    margin-top: 5px; /* Adjusted value */
    margin-left: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px; /* Adjusted value */
    text-align: left;
}

.program-container1 .program-container1_1,
.program-container1 .program-container1_2 {
    flex: 1;
}

.program-container2 {
    display: flex;
    flex-direction: row;
    width: 95%;
    background-color: #EDEDED;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.program-container2 h1 {
    color: #000000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    margin: 2px 0;
    margin-top: 5px;
    margin-left: 15px;
    letter-spacing: 1px;
    text-align: left;
}

.program-container2 h2 {
    color: #000000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
    line-height: normal;
    margin: 2px 0;
    margin-top: 5px; /* Adjusted value */
    margin-left: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px; /* Adjusted value */
    text-align: left;
}

.program-container2 .program-container2_1,
.program-container2 .program-container2_2 {
    flex: 1;
}

.program-container3 {
    display: flex;
    flex-direction: row;
    width: 95%;
    background-color: #EDEDED;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.program-container3 h1 {
    color: #000000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    margin: 2px 0;
    margin-top: 15px;
    margin-left: 15px;
    letter-spacing: 1px;
    text-align: left;
}

.program-container3 h2 {
    color: #000000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
    line-height: normal;
    margin: 2px 0;
    margin-top: 5px; /* Adjusted value */
    margin-left: 15px;
    letter-spacing: 1px;
    margin-bottom: 5px; /* Adjusted value */
    text-align: left;
}

.program-container3 .program-container3_1,
.program-container3 .program-container3_2,
.program-container3 .program-container3_3 {
    flex: 1;
}

.fish-family-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

.fish-family-table h1{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.fish-family-table table {
    width: 100%;
    border-collapse: collapse;
}

.fish-family-table th{
    border: 2px dotted #000000;
    padding: 10px;
    font-family: 'Roboto Mono', sans-serif;
    color: #000000;
    text-align: center;
}

.fish-family-table td {
    border: 2px dotted #000000;
    padding: 8px;
    text-align: left;
    color: #000;
    font-family: 'Roboto Mono', sans-serif;
}

.fish-family-table th {
    font-family: 'Roboto Mono', sans-serif;
    color: #000000;
    text-align: center;
}

.fish-family-table tbody tr:nth-child(even) {
    color: #000000;
}

.fish-family-table tbody tr:hover {
    background-color: #f5f5f5;
}

.fish-genus-table {
    width: 100%;
    margin: 20px auto;
    font-family: 'Roboto Mono', sans-serif;
}

.fish-genus-table h1 {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.fish-genus-table table {
    width: 100%;
    border-collapse: collapse;
}

.fish-genus-table th, .fish-genus-table td {
    border: 2px dotted #000000;
    text-align: left;
    padding: 10px; /* Adjust padding as needed */
    color: #000;
    font-family: 'Roboto Mono', sans-serif;
}

.fish-genus-table th {
    text-align: center;
}

/* Adjust the widths as needed */
.fish-genus-table td:nth-child(1),
.fish-genus-table th:nth-child(1) {
    width: 10%;
}

.fish-genus-table td:nth-child(2),
.fish-genus-table th:nth-child(2) {
    width: 10%; 
}

.fish-genus-table td:nth-child(3),
.fish-genus-table th:nth-child(3) {
    width: 10%; 
}

.fish-genus-table td:nth-child(4),
.fish-genus-table th:nth-child(4) {
    width: 10%; 
}

.fish-genus-table td:nth-child(5),
.fish-genus-table th:nth-child(5) {
    width: 10%; 
}

.fish-genus-table td:nth-child(6),
.fish-genus-table th:nth-child(6) {
    width: 10%; 
}

.fish-genus-table td:nth-child(7),
.fish-genus-table th:nth-child(7) {
    width: 10%; 
}

.fish-genus-table td:nth-child(8),
.fish-genus-table th:nth-child(8) {
    width: 10%; 
}

.fish-genus-table td:nth-child(9),
.fish-genus-table th:nth-child(9) {
    width: 10%; 
}

.fish-genus-table td:nth-child(10),
.fish-genus-table th:nth-child(10) {
    width: 10%; 
}

.fish-genus-table tbody tr:hover {
    background-color: #f5f5f5;
}

.final-rank-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

.final-rank-table h1{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.final-rank-table table {
    width: 100%;
    border-collapse: collapse;
}

.final-rank-table th{
    border: 2px dotted #000000;
    padding: 10px;
    font-family: 'Roboto Mono', sans-serif;
    color: #000000;
    text-align: center;
}

.final-rank-table td {
    border: 2px dotted #000000;
    padding: 8px;
    text-align: left;
    color: #000;
    font-family: 'Roboto Mono', sans-serif;
}

.final-rank-table th {
    font-family: 'Roboto Mono', sans-serif;
    color: #000000;
    text-align: center;
}

.final-rank-table tbody tr:nth-child(even) {
    color: #000000;
}

.final-rank-table tbody tr:hover {
    background-color: #f5f5f5;
}

.divider {
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 400;
    margin-top: 20px;
}

.divider h1{
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    color: #000000;
    font-weight: 400;
}