<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alata&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'questionnaire' %}">Questionnaire</a></li>
                <li><a href="{% url 'results' %}">Results</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
        <div class="logo-container">
            <img src="{% static 'img/logo.png' %}" class="logo" alt="Logo">
            <p>MINDANAO STATE UNIVERSITY - GENERAL SANTOS</p>
        </div>
        <div class="content">
            <h1>Classification System <br> for Indo-Pacific Ichthyoplankton</h1>
            <p>An Electronic Classifier For Marine Fish Larvae</p>
            <div class="fish-images">
                <img src="{% static 'img/fish1.jpg' %}" alt="Fish 1">
                <img src="{% static 'img/fish2.jpg' %}" alt="Fish 2">
                <img src="{% static 'img/fish3.jpg' %}" alt="Fish 3">
                <img src="{% static 'img/fish4.jpg' %}" alt="Fish 7">
                <img src="{% static 'img/fish5.jpg' %}" alt="Fish 4">
                <img src="{% static 'img/fish6.jpg' %}" alt="Fish 5">
                <img src="{% static 'img/fish7.jpg' %}" alt="Fish 6">
            </div>
        <div class="questionnaire-button">
            <a href="{% url 'questionnaire' %}">Classify a Specimen</a>
        </div>
        </div>
    </div>
</body>
</html>
