<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alata&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap">
    {% load static %}
    <link rel="stylesheet" href="{% static 'questionnaire_style.css'%}">
    <script>
        window.addEventListener('scroll', function () {
            var navbar = document.querySelector('.navbar');
            if (window.scrollY > 0) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    
        function checkAndSubmit() {
            var bdValue = parseFloat(document.getElementById('bd').value);
            var blValue = parseFloat(document.getElementById('bl').value);

            if (bdValue / blValue > 0.10) {
                saveFormData();
                window.location.href = "{% url 'description' %}";
            } else {
                document.getElementById('questionnaireForm').submit();
                setTimeout(function () {
                    window.location.href = "{% url 'full_results' %}";
                }, 100);
            }
        }

        function saveFormData() {
            var formData = {};
            var formInputs = document.getElementById('questionnaireForm').elements;
            
            for (var i = 0; i < formInputs.length; i++) {
                var input = formInputs[i];
                if (input.type !== "button" && input.name) {
                    formData[input.name] = input.value;
                }
            }

            localStorage.setItem('savedFormData', JSON.stringify(formData));
        }
    </script>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'questionnaire' %}">Questionnaire</a></li>
                <li><a href="{% url 'results' %}">Results</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
            <p>CLASSIFICATION SYSTEM FOR INDO-PACIFIC ICHTHYOPLANKTON FISH FAMILY</p>
        </div>
        <div class="content">
            <div class="program-container">
                <div class="card">
                    <div class="logo-container">
                        <img src="{% static 'img/logo.png' %}" class="logo" alt="Logo">
                        <h1>REPUBLIC OF THE PHILIPPINES
                            <br>MINDANAO STATE UNIVERSITY - GENERAL SANTOS
                            <br>Barangay Fatima, General Santos City
                        </h1>
                        <img src="{% static 'img/logo2.png' %}" class="logo" alt="Logo">
                    </div>
                    <h1>DOST PCAARD<br>TUNA RESEARCH PROGRAM</h1>
                    <h2>(Individual Fish Program)</h2>
                </div>
                <form id="questionnaireForm" method="POST" action="{% url 'questionnaire' %}" enctype="multipart/form-data" onsubmit="checkAndSubmit()">
                    {% csrf_token %}
                    <div class="program-names">
                        <h1>NAME OF ASSESSOR</h1>
                        <input type="text" id="assessor-name" name="assessor_name">
                    </div>

                    <div class="program-container2">
                        <div class="program-date-collected">
                            <h1>DATE (COLLECTED)</h1>
                            <input type="text" id="date-collected" name="date_collected" pattern="\d{2}/\d{2}/\d{4}" placeholder="MM/DD/YYYY" required>
                            <small>Enter date in MM/DD/YYYY format</small>
                        </div>
                        <div class="program-date-measured">
                            <h1>DATE (MEASURED)</h1>
                            <input type="text" id="date-measured" name="date_measured" pattern="\d{2}/\d{2}/\d{4}" placeholder="MM/DD/YYYY" required>
                            <small>Enter date in MM/DD/YYYY format</small>
                        </div>
                        <div class="program-margin-no">
                            <h1>MARGIN OF ERROR</h1>
                            <input type="text" id="margin-no" name="margin_no" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid numeric value" required>
                        </div>
                    </div>

                    <div class="program-container3">
                        <div class="program-location">
                            <h1>LOCATION (CODE)</h1>
                            <select id="location" name="location_code">
                                <option value="" disabled selected hidden>SELECT LOCATION</option>
                                <option value="GLN">GLN</option>
                                <option value="GSA">GSA</option>
                                <option value="GSM">GSM</option>
                                <option value="K">K</option>
                                <option value="MS">MS</option>
                                <option value="MSK">MSK</option>
                                <option value="MSM">MSM</option>
                                <option value="MTK">MTK</option>
                                <option value="SM">SM</option>
                            </select>
                        </div>
                        <div class="program-plankton">
                            <h1>PLANKTON NET TYPE</h1>
                            <select id="plankton" name="plankton_net_type">
                                <option value="" disabled selected hidden>SELECT PLANKTON NET TYPE</option>
                                <option value="Bongo Net">Bongo Net</option>
                                <option value="Manta Net">Manta Net</option>
                                <option value="Pairovet Net">Pairovet Net</option>
                            </select>
                        </div>
                        <div class="program-fish-stages">
                            <h1>FISH STAGE</h1>
                            <select id="fish-stages" name="stage_name">
                                <option value="" disabled selected hidden>SELECT FISH STAGE</option>
                                <option value="Pre-flexion">Pre-flexion</option>
                                <option value="Flexion">Flexion</option>
                                <option value="Post-flexion">Post-flexion</option>
                            </select>
                        </div>
                    </div>

                    <div class="fish-parts">
                        <img src="{% static 'img/fish.png' %}">
                    </div>

                    <div class="container-wrapper">
                        <div class="program-container4">
                            <div class="meristic-container">
                                <h2>MERISTIC MEASUREMENT</h2>
                                <div class="program-meristic">
                                    <h1>BODY LENGTH (BL)</h1>
                                    <input type="text" id="bl" name="bl" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>PRE-DORSAL FIN LENGTH (PDL)</h1>
                                    <input type="text" id="pdl" name="pdl" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>HEAD LENGTH (HL)</h1>
                                    <input type="text" id="hl" name="hl" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>SNOUT LENGTH (SNL)</h1>
                                    <input type="text" id="snl" name="snl" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>BODY DEPTH (BD)</h1>
                                    <input type="text" id="bd" name="bd" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>EYE DIAMETER (ED)</h1>
                                    <input type="text" id="ed" name="ed" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>PRENATAL LENGTH (PAL)</h1>
                                    <input type="text" id="pal" name="pal" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>VENT TO ANAL-FIN LENGTH (VAFL)</h1>
                                    <input type="text" id="vafl" name="vafl" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                </div>                                
                            </div>
                        </div>
                        <div class="program-container5">
                            <div class="characters-container">
                                <h2>MERISTIC CHARACTERS COUNT</h2>
                                <div class="program-characters">
                                    <h1>DORSAL FIN (D)</h1>
                                    <input type="text" id="dorsal_fin" name="dorsal_count" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>ANAL FIN (A)</h1>
                                    <input type="text" id="anal_fin" name="anal_count" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>PECTORAL FIN (P1)</h1>
                                    <input type="text" id="pectoral_fin" name="pectoral_count" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>PELVIC FIN (P2)</h1>
                                    <input type="text" id="pelvic_fin" name="pelvic_count" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>CAUDAL FIN (C)</h1>
                                    <input type="text" id="caudal_fin" name="caudal_count" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                    <h1>VERTEBRAE</h1>
                                    <input type="text" id="vertebrae" name="vertebrae_count" pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid value">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-button">
                        <button type="button" onclick="checkAndSubmit()">SUBMIT</button>
                    </div>                    

                </form>
            </div>
        </div>
    </div>
</body>

</html>